
body {
  /* background-image: url(/assets/images/pexels-sagui-andrea-618833.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.424);
}

nav a {
  text-decoration: none;
  margin: 2% 2%;
  color: black;
}

main {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15%;
}

.introduction {
  margin: 0 0 3% 0;
}

.introduction h1 {
  margin: 0 0 2% 0;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

article {
  border: 3px solid black;
  box-sizing: border-box;
  height: 40px;
  width: 60;
  /* padding: 3%; */
  margin: 5% 2% 1% 0;
}

.box a {
  text-decoration: none;
}

/* sizing for desktop */
@media screen and (max-width: 1200px) {
 
} 


/* sizing for tablets */
@media screen and (max-width: 768px) {
  body {
    background-color: rgb(203, 36, 36);
  }
} 

/* sizing for mobile */
@media screen and (max-width: 576px) {
  body {
    background-color: blue;
  }
} 
