body {
  background-color: aqua;
}

main {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
  margin: 2% 2%;
}

.Introduction {
  margin: 0 0 3% 0;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

article {
  border: 3px black;
  margin: 5% 2% 1% 0;
}

/* sizing for desktop */
@media screen and (max-width: 1200px) {
 
} 


/* sizing for tablets */
@media screen and (max-width: 768px) {
  body {
    background-color: rgb(203, 36, 36);
  }
} 

/* sizing for mobile */
@media screen and (max-width: 576px) {
  body {
    background-color: blue;
  }
} 
